
h2.post-title{
    color: rgb(0, 133, 0);
}
h3.post-subtitle{
    color: rgb(0, 133, 0);
}

/*
.post-heading{
    color: rgb(0, 133, 0);
}



h1{
    color: black;
}
.subheading{
    color: rgb(47, 0, 133);
}
*/


 